<!doctype html> 
<html> 
<head> 
	<title> {% block title %} Startup Organizer {% endblock %} </title>
</head>

<body> 
	<p class= "browserupgrade">
		You are using an <strong> outdated </strong> browser.Please 
		<a href= "http://browsehapp.com/"> upgarde your browser </a>
		to improve your experience and security

		<p> to import your experiece and security </p>


<ul> 
	{% if user.is_authenticated %} 
	<li> <a href="{% url 'auth:logout' %}">
	LogOut </a></li>

{% else %} 
<li> <a href="{% url 'auth:login' %}"> Login </a></li>

</ul>

<nav> <ul><li> <a href="{% url 'post_list' %}"> Blog </a></li> 

	</p>
	{% block content %} {% endblock %} 
</body>
</html>